.modal {
    z-index: 70000;
    background-color: rgba(45, 45, 50, 0.8) !important;
}

#modalProduct .modal-content {
    margin: 18% auto;
    display: block;
    border: solid 1px #a8b2b7;
    max-width: 502px !important;
    max-height: 265px !important;
    background-color: black !important;
    width: 80%;
}

#modalProduct .modal-header {
    border: none !important;
}

#modalProduct .modal-title {
    font-size: 14px;
    width: 100%;
    font-weight: normal;
    text-transform: uppercase;
    color: #a8b2b7;
}

#modalProduct .modal-body {
    padding: 5px !important;
    width: 100%;
    /* height: 100%; */
}

#modalProduct .modal-body>div {
    background-color: white;
    padding: 20px;
}

#modalProduct .body-pro {
    display: grid;
    grid-template-columns: minmax(auto, 30%) auto;
    grid-gap: 15px;
}

#modalProduct .body-pro>div h4:first-child {
    font-weight: normal;
    font-size: 24px;
}

#modalProduct .body-pro>div span {
    font-size: 18px;
    font-weight: normal;
    color: #a8b2b7;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

#modalProduct .body-pro .btn {
    font-size: 14px;
}

#modalProduct .modal-body img {
    max-width: 150px;
    width: 100%;
    height: auto;
}

#modalProduct .close {
    position: absolute;
    top: -10px;
    height: 25px;
    width: 25px;
    right: -10px;
    text-align: center;
    color: black !important;
    border-radius: 50%;
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    z-index: 500;
    opacity: 1;
}

#modalProduct .close:hover,
#modalProduct .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}


/* hiển thị khi nhấn nút con mắt để xem chi tiết */

#modalDetail .modal-content {
    display: block;
    max-width: 765px !important;
    max-height: 520px !important;
    background-color: white !important;
    margin: 0 auto;
}

#modalDetail .modal-body {
    padding: 30px;
    position: relative;
}

#modalDetail .body-pro {
    display: grid;
    grid-template-columns: minmax(auto, 345px) auto;
    grid-template-rows: minmax(auto, 450px);
}

#modalDetail .image-large img {
    max-width: 320px;
    width: 100%;
    height: auto;
    cursor: pointer;
}

#modalDetail .list-image-pro ul {
    display: grid;
    max-width: 80%;
    grid-template-columns: repeat(3, minmax(auto, 85px));
}

#modalDetail .list-image-pro a {
    list-style: none;
}

#modalDetail .list-image-pro img {
    height: auto;
    max-width: 85px;
    width: 100%;
}

#modalDetail .detail-pro-info .btn {
    text-transform: uppercase;
}

#modalDetail .close {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-image: url(https://theme.hstatic.net/1000281673/1000364229/14/hover-Close.png);
    position: absolute;
    right: -10px;
    top: -10px;
    z-index: 500;
    opacity: 1;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
    margin-left: 45px !important;
    background-color: rgb(244, 244, 244);
    color: #a8b2b7;
}

.number-pro input {
    width: 40px;
    height: 35px;
    line-height: 1.65;
    float: left;
    display: block;
    padding: 0;
    margin: 0;
    padding-left: 20px;
    border: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.08);
    font-size: 14px;
}

.quantity-nav {
    float: left;
    position: relative;
    height: 35px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    border: none;
    border-left: 1px solid rgba(0, 0, 0, 0.08);
    width: 21px;
    text-align: center;
    color: #333;
    font-size: 13px;
    font-family: "FontAwesome" !important;
    line-height: 1.5;
    padding: 0;
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    color: white;
}

.quantity-button.quantity-up {
    position: absolute;
    height: 100%;
    width: 35px;
    top: 0;
    right: -70px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    font-family: "FontAwesome";
    line-height: 1.6;
    background-color: rgb(255, 115, 128) !important;
}

.quantity-button.quantity-down {
    position: absolute;
    top: 0;
    left: -35px;
    height: 100%;
    width: 35px;
    font-family: "FontAwesome";
    background-color: rgb(255, 115, 128);
}

.detail-pro-info>h3 {
    color: black !important;
    font-size: 40px;
}

.detail-pro-info h4 {
    font-weight: normal;
    font-size: 40px;
}

.detail-pro-info h5 {
    text-transform: uppercase;
    font-size: 14px;
}

.detail-pro-info h5>span {
    font-weight: normal;
    text-transform: none;
    float: right;
    width: 70%;
    display: inline-block;
}

.pro-price h4 {
    color: rgb(181, 207, 93) !important;
}


/*  */

.number-pro .btn {
    float: left;
    margin-left: 70px;
}

div.number-pro {
    width: 100%;
    height: 80px;
}

.number-pro h5 {
    max-width: 120px;
    float: left;
    line-height: 2;
}